<!DOCTYPE html>
<html>
  <head>
    <title>HIT COMPANION ADMIN | {{title}}</title>
    <link rel='stylesheet' href='/stylesheets/additional.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/css/bootstrap.css">
    <link href="https://fonts.googleapis.com/css?family=Gugi" rel="stylesheet">  
  </head>
  <body>    
    <div class="header">
        <h1>H.I.T COMPANION</h1>
        <h2>ADMIN WEBSITE</h2>
        <h2>{{title}}</h2>
    </div>
    <div class="navbar">
        <a class="nav-item nav-link" href="/users">User</a>
        <a class="nav-item nav-link" href="/depts">Department</a>
        <a class="nav-item nav-link" href="/">Blog</a>
        <a class="nav-item nav-link" href="/clubs">Clubs & Societies</a>
        <a class="nav-item nav-link" href="/auth">Log in</a>
    </div>
    <div class="container-fluid jumbotron-fluid">
        {{{body}}}
    </div>
    <div class="footer">
    <h4>Copyright © Harare Institute of Technology 2019. All rights reserved</h4>
    </div>
  </body>
  <script type="text/javascript" src="/javascripts/js/bootstrap.js"></script>
  <script type="text/javascript" src="/javascripts/js/custom.js" ></script>

</html>
